<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575998442555-795hjg9q9bvj178m4qgoe6g5c73c1kdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575998442555-795hjg9q9bvj178m4qgoe6g5c73c1kdg</string>
	<key>API_KEY</key>
	<string>AIzaSyCj_soL9bBE7KDIAgu2GlXXNpqO68MTxQw</string>
	<key>GCM_SENDER_ID</key>
	<string>575998442555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.y.DiscussionHub</string>
	<key>PROJECT_ID</key>
	<string>discussionhub-feacd</string>
	<key>STORAGE_BUCKET</key>
	<string>discussionhub-feacd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575998442555:ios:4ee45d3bb913320b8fb01e</string>
</dict>
</plist>